body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  background-color: #cc5500;
}
